<% provide(:title, 'about')%>

	<h1>About</h1>
		<p>
 			 Right now there is nothing to say about us.
 			 This is a blank website that serves no value.  
  			Thanks for visiting, and come back soon!
		</p>
  